<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie_category.name %>
</p>

<%= link_to 'Edit', edit_movie_category_path(@movie_category) %> |
<%= link_to 'Back', movie_categories_path %>
